<% provide :title, 'Кабинет' %>

<div class="center hero-unit">
	<h1>Estocada</h1>
	<h3><em>место, где можно узнать почти все…</em></h3>

	<%= link_to "Зарегистрироваться", signup_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Войти", '#', class: "btn btn-large" %>
</div>

<%= link_to image_tag 'logo.jpg', alt: "Estocada", width: '100px' %>
