<% provide :title, 'Настройки' %>
<h1>Настройки</h1>

<div class="row">
	<div class="span6 offset3">
		<p>Здесь можно изменить свои имя, адрес электронной почти, а&nbsp;также загрузить фотографию.</p>
		<%= render 'user_form', submit_text: 'Сохранить', placeholder: 'Новый пароль' %>
	</div>
</div>