<% if @user.errors.any? %>
	<div id='error_explanation'>
		<div class="alert alert-error">
			Упс, ошибки:
		</div>
		<ul>
			<% @user.errors.full_messages.each do |msg| %>
				<li>* <%= translate msg %></li>
			<% end -%>
		</ul>
	</div>
<% end -%>