<footer class="footer">
	<small>
		<%= link_to "Официальный сайт университета", '#' %>
	</small>
	<nav>
		<ul>
			<li><%= link_to "Контакты", '#' %></li>
			<li><%= link_to "О проекте", '#' %></li>
		</ul>
	</nav>
</footer>